<footer data-section="footer">
    <div data-container="fit">
        <small>&copy; 2022 <a href="https://jacobxperez.github.io/blog/" rel="author">Jacob
                Perez</a> content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license"
                target="_blank">CC
                BY-SA 4.0</a>
        </small>

        <ul data-nav="breadcrumb" data-text="small">
            <li><a href="https://jacobxperez.github.io/blog/about/">About Me</a></li>
            <li><a href="https://jacobxperez.github.io/blog/archive/">Archive</a></li>
            <li><a href="https://github.com/jacobxperez" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/jacobperez915/" target="_blank">Linkedin</a></li>
        </ul>

        <script src="js/script.min.js"></script>
    </div>
</footer>
