<template id="navTemplate">
    <nav data-navbar="top">
        <ul data-flex>
            <li><a data-anchor="navbar" href="../index.html">Jacob Perez</a></li>

            <li data-item="grow"></li>

            <li data-display="small-none"><a data-anchor="navbar" href="../about/index.html">About Me</a></li>
            <li data-display="small-none"><a data-anchor="navbar" href="../archive/index.html">Archive</a></li>

            <!-- Dropdown Menu: show on small screens -->
            <li data-display="small">
                <a data-anchor="navbar" data-toggle="pop" data-icon="&#xe081;"></a>

                <nav data-dropbox="navbar" data-position="left right">
                    <ul>
                        <li><a data-anchor="navbar" href="../about/index.html">About Me</a></li>
                        <li><a data-anchor="navbar" href="../archive/index.html">Archive</a></li>
                    </ul>
                </nav>
            </li>
            <!-- end Dropdown Menu -->
        </ul>
    </nav>
</template>

<template id="footerTemplate">
    <small>
        &copy; 2023 <a href="https://jacobxperez.github.io/blog/" rel="author">Jacob Perez </a> content licensed under
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC BY-SA 4.0</a>
    </small>

    <ul data-flex="breadcrumb" data-text="small">
        <li><a href="../about/index.html">About Me</a></li>
        <li><a href="../archive/index.html">Archive</a></li>
        <li><a href="https://github.com/jacobxperez">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/jacobperez915/">Linkedin</a></li>
    </ul>
</template>
