// Layout
// ----------------------------------------------------------------------------/
body > header {
    .padding-top(@line-height * 4);
    .padding-bottom(@line-height);
}

body > footer {
    .padding-top(@line-height);
    .padding-bottom(@line-height * 3);
}

body {
    > header,
    > footer {
        .link {
            color: @nav-link-color-hover;
        }
    }
}

.content {
    .padding(@line-height, 0);
    background-color: @content-background-color;
    color: @content-font-color;
}

.reference {
    .margin-left();

    p {
        text-indent: -@margin-x;
    }
}
