// Layout
// ----------------------------------------------------------------------------/
body > header {
    .padding-top(@line-height * 4);
    .padding-bottom(@line-height);
}

body > footer {
    .padding-top(@line-height);
    .padding-bottom(@line-height * 3);
}

body {
    > header,
    > footer {
        [data-link] {
            color: @navbar-link-color-hover;
        }
    }
}

[data-section="content"] {
    .padding(@line-height, 0);
    background-color: @content-background-color;
    color: @content-font-color;
}

[data-list="reference"] {
    .margin-left();

    p {
        text-indent: -@margin-x;
    }
}

[data-box="code"] {
    background-color: @background-color;
    color: @font-color;
}
