// Layout
// ----------------------------------------------------------------------------/
[data-section="header"],
[data-section="footer"] {
    color: @outer-font-color;
}

[data-section="header"] {
    .padding-top(@line-height * 4);
    .padding-bottom(@line-height);
}

[data-section="footer"] {
    .padding-top(@line-height);
    .padding-bottom(@line-height * 3);
}

:where([data-section="footer"], [data-section="header"]) a {
    color: @navbar-link-active;
}

[data-section="main"] {
    .padding(@line-height, 0);
    background-color: @inner-background-color;
}

[data-list="reference"] {
    .margin-left();

    p {
        text-indent: -@margin-x;
    }
}

[data-box="code"] {
    background-color: @background-color;
    color: @outer-font-color;
}
