[data-button~="circle"] {
    position: absolute;
    top: -1.875rem;
    left: 50%;
    margin-left: -1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    border: 0.25rem solid $body-font-color;
    border-radius: 100%;
    text-align: center;
}

[data-button~="circle"]::before {
    content: "^";
    font-size: 2rem;
}
