[data-section="header"] {
    padding-top: calc($leading * 4);
    padding-bottom: calc($leading * 2);
    
    :is(&) h1, h2 {
        color: $font-color;
    }
}

[data-section="footer"] {
    position: relative;
    padding-top: calc($leading * 2);
    padding-bottom: calc($leading * 3);
}

:where([data-section="footer"], [data-section="header"]) a {
    color: hsl(20, 60%, 80%);
    text-decoration: underline solid 0.125rem hsl(0, 10%, 30%);
}

:where([data-section="footer"], [data-section="header"]) a:hover {
    text-decoration: underline solid 0.125rem;
}


[data-section="main"] {
    padding: $leading 0 calc($leading * 2) 0;
    background-color: $font-color;
    color: $background;
}

[data-list="reference"] {
    margin-left: $space-x;
}

:where([data-list="reference"]) p {
    text-indent: calc($space-x - 1);
}

[data-box="code"] {
    background-color: $background;
    color: $font-color;
    padding: $space-y $space-x;
}
