[data-section="header"] {
    padding-top: calc($leading * 4);
    padding-bottom: $leading;
}

[data-section="footer"] {
    padding-top: $leading;
    padding-bottom: calc($leading * 3);
}

:where([data-section="footer"], [data-section="header"]) a {
    color: hsl(20, 60%, 80%);
}

[data-section="main"] {
    padding: $leading 0;
    background-color: $font-color;
    color: $background;
}

[data-list="reference"] {
    margin-left: $space-x;
}

:where([data-list="reference"]) p {
    text-indent: calc($space-x - 1);
}

[data-box="code"] {
    background-color: $background;
    color: $font-color;
    padding: $space-y $space-x;
}
