<template id="navTemplate">
    <ul data-flex>
        <li><a data-link="navbar" href="https://jacobxperez.github.io/blog/">Jacob Perez</a>
        </li>

        <li data-item="grow"></li>

        <li data-display="small-none"><a data-link="navbar" href="https://jacobxperez.github.io/blog/about/">About
                Me</a></li>
        <li data-display="small-none"><a data-link="navbar" href="https://jacobxperez.github.io/blog/archive/">Archive</a></li>

        <!-- Dropdown Menu: show on small screens -->
        <li data-display="small">
            <a data-link="navbar" data-icon="menu" data-toggle="pop"></a>

            <nav data-navbar="sub" data-dropbox="menu" data-position="absolute left right">
                <ul>
                    <li><a data-link="navbar" href="https://jacobxperez.github.io/blog/about/">About
                            Me</a></li>
                    <li><a data-link="navbar" href="https://jacobxperez.github.io/blog/archive/">Archive</a></li>
                </ul>
            </nav>
        </li>
        <!-- end Dropdown Menu -->
    </ul>
</template>
