// Layout
// ----------------------------------------------------------------------------/
body > header {
    .padding-top(@line-height * 4);
    .padding-bottom(@line-height);
}

body > footer {
    .padding-top(@line-height);
    .padding-bottom(@line-height * 3);
}

body {
    > header,
    > footer {
        .link {
            color: @alpha-link-hover;
        }
    }
}

.content {
    .padding(@line-height, 0);
    background-color: #fff;
    color: #555;
}
